@import url("./normalize.css");

body {
  color: #3c3c3c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.wrapper {
  width: 60vw;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.title {
  margin: 15px 0;
  font-size: 20px;
}

.header__title {
  min-width: 310px;
}

.nav {}

.links {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 15px;
  line-height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.links__item {
  padding: 0 2%;
  user-select: none;
}

.links__item:hover {
  color: black;
  text-shadow: 0px 0px 5px rgb(249, 195, 206);
  cursor: pointer;
}

.links__item:active {
  text-shadow: 0px 0px 2px rgb(255, 194, 206);
}

.main {}

.about {
  display: flex;
  margin: 17px 0 0 0;
  background-color: rgb(245, 223, 220);
}

.avatar {
  height: 300px;
  display: block;
}

.about__info {
  width: 90%;
  margin: 30px 5% 0 5%;
}

.about__title {}

.about__subtitle {}

.about__text {}

.skills {
  padding: 17px 0 0 0;
}

.skills__title {}

.skills__info {}

.footer {}