@import url("./normalize.css");

body {
  color: #3c3c3c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.wrapper {
  width: 60vw;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.title {
  margin: 15px 0;
  font-size: 20px;
}

.header__title {
  min-width: 310px;
}

.nav {}

.links {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 15px;
  line-height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.links__item {
  padding: 0 2%;
  user-select: none;
}

.links__item:hover {
  color: black;
  text-shadow: 0px 0px 5px rgb(249, 195, 206);
  cursor: pointer;
}

.links__item:active {
  text-shadow: 0px 0px 2px rgb(255, 194, 206);
}

.main {}

.about {
  display: flex;
  margin: 17px 0 0 0;
  background-color: rgb(245, 223, 220);
}

.avatar {
  height: 300px;
  display: block;
}

.about__info {
  width: 90%;
  margin: 30px 5% 0 5%;
}

.about__title {
  margin-bottom: 0;
}

.about__subtitle {
  font-size: 14px;
}

.about__text {}

.about__button {
  text-decoration: none;
  display: flex;
  width: 150px;
  height: 35px;
  background-color: #f7f0f4;
  color: rgb(25, 25, 25);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.skills {
  padding: 17px 0 0 0;
}

.skills__title {}

.skills__info {}

.school-link {
  font-size: 0.7em;
  color: #3c3c3c62;
}

.projects-code-wrapper {
  display: flex;
  justify-content: space-between;
}

.projects {
  width: 45%;
}

.projects__title {}

.title {}

.skills__info {}

.code {
  width: 45%;
}

.code__title {}

.footer {
  height: 100px;
  background-color: rgba(234, 201, 162, 0.634);
  padding: 30px;
  font-size: 16px;
}

.footer a {
  text-decoration: underline;
}

.logo {
  width: 200px;
}